@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.btn {
  background-color: #013107;
  border: 1px solid #001d03;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 0.6;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Roboto";
  font-weight: 600;
}
.btn:hover {
  opacity: 1;
  background-color: whitesmoke;
  color: #013107;
  display: inline-block;
}

.btn a {
  padding: 16px 32px;
  color: #013107;
  display: inline-block;
}
